@font-face {
  font-family: 'Obi';
  src: url('./fonts/ObiCYOP-Black.woff2') format('woff2'),url('./fonts/ObiCYOP-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Obi';
  src: url('./fonts/ObiCYOP-Bold.woff2') format('woff2'),url('./fonts/ObiCYOP-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Obi';
  src: url('./fonts/ObiCYOP-Regular.woff2') format('woff2'),url('./fonts/ObiCYOP-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}