.container {
  font-family: 'Obi';
  font-weight: 900;
  color: #f47920;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.logo {

}

.info {
  font-size: 6.7vw;
  line-height: 6.7vw;
  margin-top: 4vw;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}